{erl_opts, [debug_info, warnings_as_errors]}.
{deps, [
    {cowboy, "2.18.0"},
    {oresoftware_next_loggers_erlang,
     {git_subdir,
      "https://github.com/ores-otel/ores.otel.log.git",
      {ref, "11761031e111ddd6277a9f173eeeb5cfa9bd95cd"},
      "sdk/erlang"}}
]}.
{deps_error_on_conflict, true}.
{eunit_opts, [verbose]}.
