{erl_opts, [debug_info, warnings_as_errors]}.
{deps, [
    {cowboy, "2.18.0"},
    {oresoftware_next_loggers_erlang,
     {git_subdir,
      "https://github.com/ores-otel/ores.otel.log.git",
      {ref, "5f203107e26644f2b7fb9e46b2be809ad67d5696"},
      "sdk/erlang"}}
]}.
{deps_error_on_conflict, true}.
{eunit_opts, [verbose]}.
