{erl_opts, [debug_info, warnings_as_errors]}.
{deps, [
    {cowboy, "2.18.0"},
    {oresoftware_next_loggers_erlang,
     {git_subdir,
      "https://github.com/ores-otel/ores.otel.log.git",
      {ref, "eb3d81e69219f8de2966630dba1a613be6aa2c33"},
      "sdk/erlang"}}
]}.
{deps_error_on_conflict, true}.
{eunit_opts, [verbose]}.
